/*Small phones with pixel 0px to 480*/
@media only screen and (max-width:480px){
    .name{
        font-size:30px;
        position: absolute;
        left:50%;
        top:50%;
    }  
    .social-icons{
        padding-top:50px;
    }
}

/*Small tablets with pixel 481px to 767px*/
@media only screen and (max-width:767px){
    .name{
        font-size:75px;
        position: absolute;
    }
    .social-icons{
        padding-top:50px;
    }
}

/*Medium tablets with pixel 767px to 1023px*/
@media only screen and (max-width:1023px){
     .name{
        color:purple;
        position:absolute;
        top:50%;
        left:50%;*/
        /*margin-left:auto;
        margin-right:auto;*/
    }
}
}

/*Big tablets with pixel 1023px to 1200px*/
@media only screen and (max-width:1200px){
    .name{
        position:absolute;
        top:35%;
        left:25%;
    }
